spring:
  application:
    name: route-service

  # Database Configuration
  datasource:
    url: jdbc:postgresql://localhost:5432/route_db
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  # JPA Configuration
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: route

# Swagger Configuration
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
# http://localhost:8080/swagger-ui.html
# Server Configuration
server:
  port: 8080
# Logging
logging:
  level:
    com.thy.routeservice: DEBUG
    org.hibernate.SQL: DEBUG

